.f-cb:after {
  display: block;
  content: "";
  clear: both;
}
.s-wrap {
  width: 16rem;
  margin: auto;
  position: relative;
}
.u-menu {
  box-sizing: border-box;
  width: 16rem;
  background: #19b3ed;
  height: 2.5rem;
  margin: 0 auto;
  position: fixed;
  z-index: 2;
}
.u-left {
  position: absolute;
  width: 0.575rem;
  height: 1.05rem;
  background: url("../images/lib/left.png") no-repeat left top;
  text-decoration: none;
  background-size: contain;
  top: 50%;
  margin-top: -0.525rem;
  left: 1rem;
}
.u-close {
  position: absolute;
  width: 0.825rem;
  height: 0.825rem;
  background: url("../images/lib/close.png") no-repeat center center;
  background-size: contain;
  top: 50%;
  margin-top: -0.37875rem;
  right: 1rem;
  display: none;
}
.s-logo {
  display: block;
  width: 4.125rem;
  height: 1.2rem;
  margin: 0 auto;
  background: url("../images/p_list/logo.png") no-repeat center center;
  background-size: contain;
  position: absolute;
  top: 50%;
  margin-top: -0.6rem;
  left: 50%;
  margin-left: -2.00625rem;
}
.u-s_all {
  width: 16rem;
  height: 2rem;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -2rem;
  line-height: 2rem;
  font-size: 0.8rem;
  color: #666666;
  text-align: center;
  font-family: "hiraginosansgb w3", "microsoft yahei";
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.u-s_all:after {
  position: absolute;
  top: 50%;
  left: 8.875rem;
  content: "";
  border-width: 0.225rem 0.225rem;
  border-color: #999999 transparent transparent transparent;
  border-style: solid;
  margin-top: -0.1125rem;
}
.u-item {
  box-sizing: border-box;
  width: 16rem;
  padding: 0.45rem 0.5rem;
  background: #ffffff;
  border-bottom: 1px solid #cecece;
}
.u-item:first-child {
  padding-top: 5rem;
}
.u-item a {
  display: block;
}
.s-icon {
  float: left;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 1.75rem;
  background-size: cover;
  background-position: center center;
  border: 1px solid #ccc;
}
.u-item aside {
  overflow: hidden;
  padding-left: 1.5rem;
  font-family: "hiraginosansgb w3", "microsoft yahei";
}
.u-item .name span {
  display: inline-block;
  width: 2.875rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8rem;
  color: #111111;
}
.u-item .name i {
  display: inline-block;
  width: 0.875rem;
  height: 0.55rem;
  background: url("../images/p_list/man.png") no-repeat center center;
  background-size: cover;
  -webkit-transform: translateY(-0.08rem);
  -ms-transform: translateY(-0.08rem);
  -moz-transform: translateY(-0.08rem);
}
.u-item .name .i_w {
  background-image: url("../images/p_list/man.png");
}
.u-item aside .trip {
  display: block;
  color: #666666;
  font-size: 0.7rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.u-item aside .trip:nth-child(2) {
  padding: 0.8rem 0 0.7rem;
}
.u-loading {
  position: fixed;
  left: 50%;
  margin-left: -8rem;
  bottom: 0;
  width: 16rem;
  padding: 0.6rem 0;
  background: #f6f6f6;
}
.w-l {
  width: 5.1rem;
  margin: 0 auto;
}
.w-l i {
  float: left;
  width: 0.9rem;
  height: 0.9rem;
  background: url("../images/p_list/loading.gif") no-repeat center center;
  background-size: contain;
}
.w-l span {
  float: right;
  font-size: 0.65rem;
  color: #999999;
  line-height: 0.9rem;
  font-family: "hiraginosansgb w3", "microsoft yahei";
}
.u-item:hover {
  background: #f7f7f7;
}
.u-item a {
  text-decoration: none;
}
.m-s_t {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 3;
  display: none;
}
.m-s_t dd {
  width: 100%;
  height: 2.5rem;
  position: relative;
}
.m-s_t .z-active {
  background: #f3f3f3;
}
.m-s_t .z-active span {
  color: #111111;
}
.m-s_t span {
  font-size: 0.7rem;
  padding-left: 1rem;
  line-height: 2.5rem;
  color: #666666;
  font-family: "hiraginosansgb w3", "microsoft yahei";
}
.m-s_t .z-active .s-add {
  position: absolute;
  width: 0.675rem;
  height: 0.675rem;
  background: url("../images/lib/add.png") no-repeat center center;
  background-size: contain;
  top: 50%;
  margin-top: -0.3375rem;
  right: 1rem;
}
.m-s_t .u-s_c {
  box-sizing: border-box;
  width: 16rem;
  background: #19b3ed;
  height: 2.5rem;
  margin: 0 auto;
  position: relative;
}
.m-s_t .u-s_c .f-sub {
  position: absolute;
  line-height: 2.5rem;
  top: 0;
  right: 1.2rem;
  color: #fefffe;
  font-size: 0.8rem;
  font-family: "hiraginosansgb w3", "microsoft yahei";
  text-decoration: none;
}
.m-s_t .u-s_c .title {
  display: block;
  width: 16rem;
  line-height: 2.5rem;
  text-align: center;
  color: #fefffe;
  font-size: 0.85rem;
  font-family: "hiraginosansgb w3", "microsoft yahei";
}
