<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>首页</title>
    <script src="__PUBLIC__/js/lib/init.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/lib/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/p_list.css">
</head>
<body>
<div class="s-wrap">
    <header class="u-menu">
        <a href="javascript:history.back()" class="u-left"></a>
        <i class="s-logo"></i>
        <span class="u-s_all js-s_all">
          全部
        </span>
    </header>
    <div class="m-lists js-w_l">
        <div class="u-item f-cb">
            <a href="/alumnus">
                <i class="s-icon" style="background: url('__PUBLIC__/images/p_list/1.png')"></i>
                <aside>
                    <h2 class="name"><span>卡视角</span> <i class="i_w"></i></h2>
                    <span class="trip s-gap">2013级</span>
                    <span class="trip">传媒艺术艺术学院设计专业</span>
                </aside>
            </a>
        </div>
        <div class="u-item f-cb">
            <a href="/alumnus">
                <i class="s-icon" style="background: url('images/p_list/1.png')"></i>
                <aside>
                    <h2 class="name"><span>卡视角</span> <i class="i_w"></i></h2>
                    <span class="trip s-gap">2013级</span>
                    <span class="trip">传媒艺术艺术学院设计专业</span>
                </aside>
            </a>
        </div>
        <div class="u-item f-cb">
            <a href="/alumnus">
                <i class="s-icon" style="background: url('images/p_list/1.png')"></i>
                <aside>
                    <h2 class="name"><span>卡视角</span> <i class="i_w"></i></h2>
                    <span class="trip s-gap">2013级</span>
                    <span class="trip">传媒艺术艺术学院设计专业</span>
                </aside>
            </a>
        </div>
        <div class="u-item f-cb">
            <a href="/alumnus">
                <i class="s-icon" style="background: url('images/p_list/1.png')"></i>
                <aside>
                    <h2 class="name"><span>卡视角</span> <i class="i_w"></i></h2>
                    <span class="trip s-gap">2013级</span>
                    <span class="trip">传媒艺术艺术学院设计专业</span>
                </aside>
            </a>
        </div>
        <div class="u-item f-cb">
            <a href="/alumnus">
                <i class="s-icon" style="background: url('images/p_list/1.png')"></i>
                <aside>
                    <h2 class="name"><span>卡视角</span> <i class="i_w"></i></h2>
                    <span class="trip s-gap">2013级</span>
                    <span class="trip">传媒艺术艺术学院设计专业</span>
                </aside>
            </a>
        </div>
        <div class="u-item f-cb">
            <a href="/alumnus">
                <i class="s-icon" style="background: url('images/p_list/1.png')"></i>
                <aside>
                    <h2 class="name"><span>卡视角</span> <i class="i_w"></i></h2>
                    <span class="trip s-gap">2013级</span>
                    <span class="trip">传媒艺术艺术学院设计专业</span>
                </aside>
            </a>
        </div>
    </div>
    <div class="u-loading js-loading">
        <div class="w-l f-cb"><i class="s-l_i"></i><span>正在加载中...</span></div>
    </div>
    <!--选择-->
    <div class="m-s_t js-w_all">
        <header class="u-s_c">
            <a href="javascript:void(0)" class="u-left js-close"></a>
            <a class="f-sub js-sub" href="javascript:void(0)">完成</a>
            <span class="title">类型 (多选)</span>
        </header>
        <dl>
            <!--将 类型id存在data-id上, 以供数据传输-->
            <dd class="z-active" data-id="1"><span>全部</span><i class="s-add"></i></dd>
            <dd class="item" data-id="2"><span>老乡</span><i class="s-add"></i></dd>
            <dd class="item" data-id="3"><span>男</span><i class="s-add"></i></dd>
            <dd class="item" data-id="4"><span>女</span><i class="s-add"></i></dd>
        </dl>
    </div>
</div>
</body>
<script src="__PUBLIC__/js/p_list.js"></script>
</html>