<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>首页</title>
    <script src="__PUBLIC__/js/lib/init.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/lib/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css">
</head>
<body>
<div class="g-container">
    <i class="s-logo"></i>
    <menu class="u-links">
        <a href="__CONTROLLER__/findSchoolfellow">查看周围校友</a>
        <a href="__CONTROLLER__/information">完善或修改信息</a>
    </menu>
</div>
</body>
<script src="__PUBLIC__/js/index.js"></script>
</html>