<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>校友</title>
    <script src="js/lib/init.js"></script>
    <link rel="stylesheet" type="text/css" href="css/lib/base.css">
    <link rel="stylesheet" type="text/css" href="css/alumnus.css">
</head>
<body>
<div class="s-wrap">
    <!--<header class="u-menu">-->
        <!--<a href="javascript:history.back()"><</a>-->
        <!--<span>校友详细信息</span>-->
    <!--</header>-->
    <header class="u-menu">
        <a href="javascript:history.back()" class="u-left"></a>
        <span>校友详细信息</span>
    </header>
    <div class="u-b_s" style="/*background-image: url('images/alumnus/1.png')*/">  <!--外层头像-->
        <i class="s-h_c" style="background-image: url('images/alumnus/1.png')"></i><!--内层头像-->
    </div>
    <div class="t-i">
        <div class="row">
            <div class="col">姓名</div>
            <div class="col">黄祥康</div>
        </div>
        <div class="row">
            <div class="col">性别</div>
            <div class="col">男</div>
        </div>
        <div class="row">
            <div class="col">家乡</div>
            <div class="col">广西</div>
        </div>
        <div class="row">
            <div class="col">联系方式</div>
            <div class="col">18166387284</div>
        </div>
        <div class="row">
            <div class="col">简介</div>
            <div class="col">版权（英文名称：copyright）
                即著作权，是指文学、艺术、
                科学作品的作者对其作品享有
                的权利.</div>
        </div>
    </div>
</div>
</body>
</html>